@layer base {
  .jodit-wysiwyg ul,
  .jodit-wysiwyg ol {
    list-style: revert;
    margin-left: revert;
    padding-left: revert;
  }
  .jodit-wysiwyg ul ul,
  .jodit-wysiwyg ol ol {
    list-style-type: revert;
    margin-left: 1.5em;
    padding-left: 1.5em;
  }
}

.preview-content ul,
.preview-content ol {
  list-style: revert;
  margin-left: revert;
  padding-left: revert;
}
.preview-content ul ul,
.preview-content ol ol {
  list-style-type: revert;
  margin-left: 1.5em;
  padding-left: 1.5em;
}
