.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer base {
  .jodit-wysiwyg ul,
  .jodit-wysiwyg ol {
    list-style: revert;
    margin-left: revert;
    padding-left: revert;
  }
  .jodit-wysiwyg ul ul,
  .jodit-wysiwyg ol ol {
    list-style-type: revert;
    margin-left: 1.5em;
    padding-left: 1.5em;
  }
}

.preview-content ul,
.preview-content ol {
  list-style: revert;
  margin-left: revert;
  padding-left: revert;
}
.preview-content ul ul,
.preview-content ol ol {
  list-style-type: revert;
  margin-left: 1.5em;
  padding-left: 1.5em;
}
